.baner_view{
    height: 400px;
    background-size: cover;
    background-color: rgba(19, 7, 71, 0.986);
    display:flex;
    flex-direction: row-reverse;
    padding-top: 50px;
}

.notice-bord{
    background-color: rgba(7, 6, 6, 0.596);
}